//Color
$color-white: #fff;
$color-black: #000;
$color-primary: #000;

//Sizes
$size-max: 1920px;
$size-standard: 1366px;
$size-sp: 750px;

//Fonts
$font-family-yugo: '游ゴシック体', 'YuGothic', '游ゴシック', 'Yu Gothic',
  'メイリオ', sans-serif;
