script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
script(src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8")
//- uncomment when running npm run dev or npm run build
  script(src="main.js")