block variables
- var title = "Title"
- title = page_title + '｜Title'

doctype html
html(lang="ja" prefix="og: http://ogp.me/ns#")
  head
    title= title
    include ../blocks/block-tag-head.pug

  body
    block below_body

    //Header
    header
      include ../blocks/block-header.pug

    .contents__top
    
    .contents
      
      .side_left

      main
        .main__top
        block content
        .main__bottom
      
      .side__right

    .contents__top
    
    //Footer
    include ../blocks/block-footer.pug
    
    block endbody
      include ../blocks/block-tag-endbody.pug
